html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
textarea{
  width: 60%;
  height: 20vh;
}
button{
  margin: 10px 0px;
  width: 60%;
}
p{
  width: 60%;
}
